<head>
  <meta charset="utf-8">
  <title>Json to HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="header">
  <%= link_to('Log In', new_user_session_path, method: :new, class: 'active') %>
</div>

<div class="main">
  <p class="main-title"><%= link_to('Society of Software Engineers', root_path, class: 'active')%></p>
  <!--<p class="main-title">Society of Software Engineers </p>-->
  <div class="container">
    <div class="nav">
      <div class="dropdown">
        <p class="dropbtn">Future Software Engineers</p>
        <div class="dropdown-content">
          <%= link_to "What is a Software Engineer", future_engineers_info_path %>
          <%= link_to "Day in the Life", future_engineers_life_path %>
          <%= link_to "Career Paths", future_engineers_paths_path %>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropbtn">Professional Development</div>
        <div class="dropdown-content">
          <%= link_to "Exams and Certification", professional_development_exams_path %>
          <%= link_to "Books", professional_development_books_path %>
          <%= link_to "Software Engineer of the Future", professional_development_future_path %>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropbtn">Standards and Resources</div>
        <div class="dropdown-content">
          <%= link_to "Code of Professional Conduct", standards_resources_conduct_path %>
          <%= link_to "SE Coding Standards and Best Practices", standards_resources_standards_path%>
          <%= link_to "Employer Scoring", standards_resources_scoring_path %>
          <%= link_to "Salaries and Demographics", standards_resources_demographics_path %>
          <%= link_to "Podcasts", standards_resources_podcasts_path%>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropbtn">About SoSE</div>
        <div class="dropdown-content">
          <%= link_to "What is SoSE?", about_description_path %>
          <%= link_to "Membership", about_membership_path %>
          <%= link_to "Goals and Purpose", about_goals_path %>
        </div>
      </div>
    </div>

    <div class="container-main">
      <div class="join-container">
        <div class="join">
          <p> Are you a member?</p>
          <p> Join Society of Software Engineers Today!</p>
          <%= link_to('Sign Up', new_user_registration_path, class: 'button') %>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <table>
      <td> <a class="twitter-timeline" data-width="400" data-height="400" href="https://twitter.com/IEEEorg?ref_src=twsrc%5Etfw">Tweets by IEEEorg</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <td><script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/JYMBII" data-format="inline"></script></td>
      <td>
        <table class="table table-bordered table-striped" id="event_table">
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
        </table>
      </td>
    </table>
  </div>

  <div class="footer">
    <h3>Contact</h3>
    <p>Email: genericemail@email.com</p>
    <p>Phone: (714) 695 - 7869</p>
  </div>
</div>

<script type="text/javascript">
  $.getJson(<%= @events %>, function(data){
    var event_data = '';
    $.each(data, function(key, value){
      event_data += '<tr>';
        event_data += '<td>'+value.name+'<td>';
        event_data += '<td>'+value.local_date+'<td>';
        event_data += '<td'+value.local_time+'<td>';
    });
    $('event_table').append(event_data);
  });
</script>
