<div class="header">
  <%= link_to "Home", root_path, class: 'active'%>
</div>

<div class="main_">
  <p class="main-title"><%= link_to('Society of Software Engineers', root_path, class: 'active')%></p>
  <div class="container_">
    <div class="nav_">
      <div class="dropdown_">
        <p class="dropbtn_">Future Software Engineers</p>
        <div class="dropdown-content_">
          <%=link_to "What is a Software Engineer", future_engineers_info_path %>
          <%=link_to "Day in the Life", future_engineers_life_path %>
          <%=link_to "Career Paths", future_engineers_paths_path %>
        </div>
      </div>

      <div class="dropdown_">
        <div class="dropbtn_">Professional Development</div>
        <div class="dropdown-content_">
          <%=link_to "Exams and Certification", professional_development_exams_path %>
          <%=link_to "Books", professional_development_books_path %>
          <%=link_to "Software Engineer of the Future", professional_development_future_path %>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">Standards and Resources</p>
        <div class="dropdown-content_">
          <%=link_to "Code of Professional Conduct", standards_resources_conduct_path %>
          <%=link_to "SE Coding Standards and Best Practices", standards_resources_standards_path%>
          <%=link_to "Employer Scoring", standards_resources_scoring_path %>
          <%=link_to "Salaries and Demographics", standards_resources_demographics_path %>
          <%=link_to "Podcasts", standards_resources_podcasts_path%>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">About SoSE</p>
        <div class="dropdown-content_">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

    </div>
  </div>
  <div class = "background-block_">
    <div class="container-main_">
      <h1>What is a Software Engineer?</h1>
      <div class = "information">
        <p>A Software Engineer is someone who applies the different techniques of computer science and engineering into the following aspects of developing and delivering software:</p>
        <div class="list">
          <ul>
            <li>Design</li>
            <li>Development</li>
            <li>Maintenance</li>
            <li>Testing</li>
            <li>Evaluation</li>
          </ul>
        </div>
        <p>As for software, there is a wide array of items that a software engineer can work on, ranging from entire operating systems like Windows or MacOS, individual programs that run on your computer, games, and so on. Working in a team is a critical part of a software engineers life and in order to properly and effectively develop and deliver software, they need to partake in the Software Development Lifecycle which consists of five different stages. These are: </p>
        <div class="list">
          <ul>
            <li>Requirements Elicitation</li>
            <li>Design</li>
            <li>Development</li>
            <li>Testing</li>
            <li>Maintenance</li>
          </ul>
        </div>
        <p>Requirements elicitation is the process of getting all the requirements of what and how the piece of software to be delivered will do. This process includes meeting with the different stakeholders of the project, which will often include the end users, the paying customer or company, developers, project managers, and anyone else who is involved in some way with the project. This process will more often than not be an iterative process due to the fact that one meeting will most likely not be enough&nbsp;to gather the customer's entire vision of the system and constantly changing requirements. The Design of the system is regarding the architecture of the system and how the data is going to be flowing, This is where the different tools that will be used for the project are discussed and settled on and UX design will also be important to discuss in this stage as well. The development of the software is where the actual coding will happen. The testing stage is where the code being produced by the developers will be analyzed and tested for bugs. Testing will usually continue up and through when the product finally meets the standards put forth by the Software Requirements Specification document written out in the requirements elicitation part of the process. Finally, maintenance is the continuous support of the project once it has been deployed in order to keep is as usable and bug-free as possible.</p>
      </div>
    </div>
  </div>
