<div class="header">
  <%= link_to "Home", root_path, class: 'active'%>
</div>

<div class="main_">
  <p class="main-title"><%= link_to('Society of Software Engineers', root_path, class: 'active')%></p>
  <div class="container_">
    <div class="nav_">
      <div class="dropdown_">
        <p class="dropbtn_">Future Software Engineers</p>
        <div class="dropdown-content_">
          <%=link_to "What is a Software Engineer", future_engineers_info_path %>
          <%=link_to "Day in the Life", future_engineers_life_path %>
          <%=link_to "Career Paths", future_engineers_paths_path %>
        </div>
      </div>

      <div class="dropdown_">
        <div class="dropbtn_">Professional Development</div>
        <div class="dropdown-content_">
          <%=link_to "Exams and Certification", professional_development_exams_path %>
          <%=link_to "Books", professional_development_books_path %>
          <%=link_to "Software Engineer of the Future", professional_development_future_path %>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">Standards and Resources</p>
        <div class="dropdown-content_">
          <%=link_to "Code of Professional Conduct", standards_resources_conduct_path %>
          <%=link_to "SE Coding Standards and Best Practices", standards_resources_standards_path%>
          <%=link_to "Employer Scoring", standards_resources_scoring_path %>
          <%=link_to "Salaries and Demographics", standards_resources_demographics_path %>
          <%=link_to "Podcasts", standards_resources_podcasts_path%>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">About SoSE</p>
        <div class="dropdown-content_">
          <%= link_to "What is SoSE?", about_description_path %>
          <%= link_to "Membership", about_membership_path %>
          <%= link_to "Goals and Purpose", about_goals_path %>
        </div>
      </div>

    </div>
  </div>

  <div class = "background-block_">
    <div class="container-main_">
      <h1>Day in the Life</h1>
      <div class = "information">
        <p>Day to day life will more often than not vary between companies, but we'll look at a general overview of what life may look like in the popular agile development methodology. The day will most likely start with stand-up meetings, which are short daily meetings that are intended to bring everyone up to speed and on the same page and keeps everyone accountable. These can be knocked out relatively quickly with three simple questions:</p>
        <div class="list">
          <ul>
            <li>What did I work on yesterday?</li>
            <li>What am I working on today?</li>
            <li>What issues are blocking me?</li>
          </ul>
        </div>
        <p>The scum methodology in agile requires self organization and cross-functionality. The two main roles in a scrum team are the Scrum Master and the Product Owner. The Scrum Master can be thought of as the coach of the team and it&rsquo;s their role to motivate and push the team members. The Product Owner is representing the business and customers. Their role is to be the bridge between the developers and the customers or end users and help guide the project in the right direction.</p>
        <p>When it comes to the development of the code, it&rsquo;s usually broken into chunks called sprints. These sprints are started with different planning meetings where the different sections or parts of the project are broken up into stories that can then be assigned or taken by a developer.</p>
      </div>
    </div>
  </div>
