<div class="header">
  <%= link_to "Home", root_path, class: 'active'%>
</div>

<div class="main_">
  <p class="main-title"><%= link_to('Society of Software Engineers', root_path, class: 'active')%></p>
  <div class="container_">
    <div class="nav_">
      <div class="dropdown_">
        <p class="dropbtn_">Future Software Engineers</p>
        <div class="dropdown-content_">
          <%=link_to "What is a Software Engineer", future_engineers_info_path %>
          <%=link_to "Day in the Life", future_engineers_life_path %>
          <%=link_to "Career Paths", future_engineers_paths_path %>
        </div>
      </div>

      <div class="dropdown_">
        <div class="dropbtn_">Professional Development</div>
        <div class="dropdown-content_">
          <%=link_to "Exams and Certification", professional_development_exams_path %>
          <%=link_to "Books", professional_development_books_path %>
          <%=link_to "Software Engineer of the Future", professional_development_future_path %>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">Standards and Resources</p>
        <div class="dropdown-content_">
          <%=link_to "Code of Professional Conduct", standards_resources_conduct_path %>
          <%=link_to "SE Coding Standards and Best Practices", standards_resources_standards_path%>
          <%=link_to "Employer Scoring", standards_resources_scoring_path %>
          <%=link_to "Salaries and Demographics", standards_resources_demographics_path %>
          <%=link_to "Podcasts", standards_resources_podcasts_path%>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">About SoSE</p>
        <div class="dropdown-content_">
          <%= link_to "What is SoSE?", about_description_path %>
          <%= link_to "Membership", about_membership_path %>
          <%= link_to "Goals and Purpose", about_goals_path %>
        </div>
      </div>

    </div>
  </div>

  <div class = "background-block_">
    <div class="container-main_">
      <h1>Salaries and Demographics</h1>
      <div class = "information">
        <ul>
          <li>Software Engineer: $83,021</li>
          <li>Junior Software Engineer: $58,784</li>
          <li>Senior Software Engineer: $110,209</li>
          <li>Product Manager, Software: $91,272</li>
          <li>Project Manager, Software: $84,931</li>
          <li>Program Manager, Software: $104,328</li>
        <ul>
      </div>
    </div>
  </div>
