<div class="header">
  <%= link_to "Home", root_path, class: 'active'%>
</div>

<div class="main_">
  <p class="main-title"><%= link_to('Society of Software Engineers', root_path, class: 'active')%></p>
  <div class="container_">
    <div class="nav_">
      <div class="dropdown_">
        <p class="dropbtn_">Future Software Engineers</p>
        <div class="dropdown-content_">
          <%= link_to "What is a Software Engineer", future_engineers_info_path %>
          <%= link_to "Day in the Life", future_engineers_life_path %>
          <%= link_to "Career Paths", future_engineers_paths_path %>
        </div>
      </div>

      <div class="dropdown_">
        <div class="dropbtn_">Professional Development</div>
        <div class="dropdown-content_">
          <%= link_to "Exams and Certification", professional_development_exams_path %>
          <%= link_to "Books", professional_development_books_path %>
          <%= link_to "Software Engineer of the Future", professional_development_future_path %>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">Standards and Resources</p>
        <div class="dropdown-content_">
          <%= link_to "Code of Professional Conduct", standards_resources_conduct_path %>
          <%= link_to "SE Coding Standards and Best Practices", standards_resources_standards_path%>
          <%= link_to "Employer Scoring", standards_resources_scoring_path %>
          <%= link_to "Salaries and Demographics", standards_resources_demographics_path %>
          <%= link_to "Podcasts", standards_resources_podcasts_path%>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">About SoSE</p>
        <div class="dropdown-content_">
          <%= link_to "What is SoSE?", about_description_path %>
          <%= link_to "Membership", about_membership_path %>
          <%= link_to "Goals and Purpose", about_goals_path %>
        </div>
      </div>

    </div>
  </div>

  <div class = "background-block_">
    <div class="container-main_">
      <h1>Employer Scoring</h1>
      <div class = "information">
        <p> Every software engineer dreams of working for the top-tier tech firms in
          and around the world in their lifetime. From merely a professional standpoint,
          software engineers—outside of personal interest in certain projects—weigh much
          of their decisions as to where they wish to work based on a firm’s average total
          compensation. As such, we have compiled a list of 18 companies that pay their
          software engineers over $110,000.<br><br>Here they are:</p>

          <ol>
            <li>Facebook: $177,014</li>
            <li>LinkedIn: $170,839</li>
            <li>Google: $164,683</li>
            <li>Arista: $151,648</li>
            <li>PayPal: $146,795</li>
            <li>Apple: $138,300</li>
            <li>Brocade: $132,036</li>
            <li>Cisco: $130,221</li>
            <li>Yahoo: $125,366</li>
            <li>IAC: $120,755</li>
            <li>Symantec: $120,553</li>
            <li>Amazon: $118,121</li>
            <li>Nvidia: $117,804</li>
            <li>Intel: $117,643</li>
            <li>KLA-Tencor: $117,167</li>
            <li>Microsoft: $116,967</li>
            <li>Oracle: $116,514</li>
            <li>eBay: $113,549</li>
          </ol>

        <p> Please note that this information is based on 2016 data and, as such, numbers
          may have changed—companies may have fallen down or up the list, or new companies
          may have entered the list that are not listed here. Likewise, this is not a
          complete list of all companies that have this level of average total compensation—
          there are, most certainly, more out there.
        </p>
      </div>
    </div>
  </div>
</div>
