<div class="header">
  <%= link_to "Home", root_path, class: 'active'%>
</div>

<div class="main_">
  <p class="main-title"><%= link_to('Society of Software Engineers', root_path, class: 'active')%></p>
  <div class="container_">
    <div class="nav_">
      <div class="dropdown_">
        <p class="dropbtn_">Future Software Engineers</p>
        <div class="dropdown-content_">
          <%=link_to "What is a Software Engineer", future_engineers_info_path %>
          <%=link_to "Day in the Life", future_engineers_life_path %>
          <%=link_to "Career Paths", future_engineers_paths_path %>
        </div>
      </div>

      <div class="dropdown_">
        <div class="dropbtn_">Professional Development</div>
        <div class="dropdown-content_">
          <%=link_to "Exams and Certification", professional_development_exams_path %>
          <%=link_to "Books", professional_development_books_path %>
          <%=link_to "Software Engineer of the Future", professional_development_future_path %>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">Standards and Resources</p>
        <div class="dropdown-content_">
          <%=link_to "Code of Professional Conduct", standards_resources_conduct_path %>
          <%=link_to "SE Coding Standards and Best Practices", standards_resources_standards_path%>
          <%=link_to "Employer Scoring", standards_resources_scoring_path %>
          <%=link_to "Salaries and Demographics", standards_resources_demographics_path %>
          <%=link_to "Podcasts", standards_resources_podcasts_path%>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">About SoSE</p>
        <div class="dropdown-content_">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

    </div>
  </div>

  <div class = "background-block_">
    <div class="container-main_">
      <h1>Books Content</h1>
      <div class = "information">
        <p> <a href="https://www.amazon.com/Mythical-Man-Month-Software-Engineering-Anniversary/dp/0201835959?crid=1J802H9N5MYVX&keywords=the+mythical+man-month&qid=1540778755&s=Books&sprefix=the+mythical+man%2Cstripbooks%2C224&sr=1-1&ref=sr_1_1"> The Mythical Man-Month</a>: Essays on Software Engineering
        </p>
        <p>With a blend of software engineering facts and thought-provoking opinions, Fred Brooks offers insight for anyone managing complex projects.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Program/Product Managers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Software-Engineering-10th-Ian-Sommerville/dp/0133943038?crid=JPIJMB4FDKOX&keywords=software+engineering+10th+edition+by+ian+sommerville&qid=1540778903&s=Books&sprefix=software+engineering+%2Cstripbooks%2C281&sr=1-2&ref=sr_1_2">Software Engineering</a>
        </p>
        <p>Software Engineering introduces readers to the overwhelmingly important subject of software programming and development. This text seeks to lay out the fundamental concepts of this huge and continually growing subject area in a clear and comprehensive manner.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Program/Product Managers & Developers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Software-Requirements-Developer-Best-Practices/dp/0735679665?keywords=software+requirements+third+edition&qid=1540778985&s=Books&sr=1-1&ref=sr_1_1">Software Requirements</a>
        </p>
        <p>Two leaders in the requirements community have teamed up to deliver a contemporary set of practices covering the full range of requirements development and management activities on software projects.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Program/Product Managers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Learning-UML-2-0-Pragmatic-Introduction/dp/0596009828?keywords=learning+uml&qid=1540779913&s=Books&sr=1-1&ref=sr_1_1">Learning UML 2.0</a>
        </p>
        <p>The Unified Modeling Language (UML) helps you manage this complexity. Whether you're looking to use UML as a blueprint language, a sketch tool, or as a programming language, this book will give you the need-to-know information on how to apply UML to your project. While there are plenty of books available that describe UML, Learning UML 2.0 will show you how to use it
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Program/Product Managers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Peopleware-Productive-Projects-Tom-DeMarco/dp/0932633439">Peopleware</a>: Productive Projects and Teams
        </p>
        <p>Demarco and Lister demonstrate that the major issues of software development are human, not technical.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Program/Product Managers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Absolute-Java-6th-Walter-Savitch/dp/0134041674?keywords=absolute+java&qid=1540779408&s=Books&sr=1-3&ref=sr_1_3">Absolute Java</a>
        </p>
        <p>This book is designed to serve as a textbook and reference for programming in the Java language. Although it does include programming techniques, it is organized around the features of the Java language rather than any particular curriculum of programming techniques
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Developers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Practice-Computing-Using-Python-3rd/dp/0134379764?crid=350BPJ1CHDLST&keywords=the+practice+of+computing+using+python&qid=1540779636&s=Books&sprefix=the+practice+of+computing+%2Cstripbooks%2C207&sr=1-1&ref=sr_1_1">The Practice of Computing Using Python</a>
        </p>
        <p>Focusing on data manipulation and analysis as a theme, the text allows readers to work on real problems using Internet-sourced or self-generated data sets that represent their own work and interests. The authors also emphasize program development and provide readers of all backgrounds with a practical foundation in programming that suit their needs.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Developers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882?keywords=clean+code&qid=1540779742&s=Books&sr=1-1-spons&ref=sr_1_1_sspa&psc=1">Clean Code</a>
        </p>
        <p>Clean Code is divided into three parts. The first describes the principles, patterns, and practices of writing clean code. The second part consists of several case studies of increasing complexity. Each case study is an exercise in cleaning up code—of transforming a code base that has some problems into one that is sound and efficient. The third part is the payoff: a single chapter containing a list of heuristics and “smells” gathered while creating the case studies. The result is a knowledge base that describes the way we think when we write, read, and clean code.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Developers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Linux-Developers-Jumpstart-Programming-Library/dp/0134657284?crid=2V7N78X1RA9HE&keywords=linux+for+developers&qid=1540779835&s=Books&sprefix=linux+for+de%2Cstripbooks%2C465&sr=1-1&ref=sr_1_1">Linux for Developers</a> - Jumpstart your Linux Programming Skills
        </p>
        <p>Linux for Developers shows you how to start writing great code for Linux, whether you’re a Linux user with little or no coding experience, or an experienced Windows programmer
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Developers</li>
        </ul>

        <p> <a href="https://www.amazon.com/AntiPatterns-Refactoring-Software-Architectures-Projects/dp/B000N7CA62?keywords=antipattersn&qid=1540779991&s=Books&sr=1-2-spell&ref=sr_1_2">AntiPatterns</a>
        </p>
        <p>AntiPatterns identifies 40 of the most common AntiPatterns in the areas of software development, architecture, and project management. The authors then show you how to detect and defuse AntiPatterns as well as supply refactored solutions for each AntiPattern presented.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Developers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Database-Systems-Complete-Book-2nd/dp/0131873253">Database Systems</a> - The Complete Book
        </p>
        <p>Written by well-known computer scientists, this introduction to database systems offers a comprehensive approach, focusing on database design, database use, and implementation of database applications and database management systems.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Developers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Data-Structures-Algorithms-Michael-Goodrich/dp/0470383275?crid=1VBF2096QABIA&keywords=data+structures+and+algorithms+in+c%2B%2B&qid=1540780275&s=Books&sprefix=data+structures+and+algorithms+in+c%2B%2B%2Cstripbooks%2C247&sr=1-3&ref=sr_1_3">Data Structures & Algorithms in C++</a>
        </p>
        <p>Written by an author team of experts in their fields, this authoritative guide demystifies even the most difficult mathematical concepts so that you can gain a clear understanding of data structures and algorithms in C++.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Developers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Practitioners-Guide-Software-Design-Hardback/dp/B01MF8SLOU?crid=1ZFB02271BN5W&keywords=a+practitioner%27s+guide+to+software+test+design&qid=1540780592&s=Books&sprefix=a+practitioner%2Cstripbooks%2C409&sr=1-2-catcorr&ref=sr_1_2">A Practitinoer's Guide to Software Test Design</a>
        </p>
        <p>A comprehensive, up-to-date and practical introduction to software test design. This book presents all the important test design techniques in a single place and in a consistent and easy-to-digest format. An immediately useful handbook for test engineers, developers, quality assurance professionals and requirements and systems analysts
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Testers</li>
        </ul>

        <p> <a href="https://www.amazon.com/Art-Software-Testing-Glenford-Myers/dp/1118031962?crid=3RJU7FXCQIXR6&keywords=the+art+of+software+testing&qid=1540780649&s=Books&sprefix=the+art+of+softwar%2Cstripbooks%2C205&sr=1-2&ref=sr_1_2">The Art of Software Testing</a>
        </p>
        <p>The Art of Software Testing provides a brief but powerful and comprehensive presentation of time-proven software testing approaches. If your software development project is mission critical, this book is an investment that will pay for itself with the first bug you find.
        </p>
        <ul>
          <li style="font-size: 14px">This book is intended for: Testers</li>
        </ul>

      </div>
    </div>
  </div>
