<div class="header">
  <%= link_to "Home", root_path, class: 'active'%>
</div>

<div class="main_">
  <p class="main-title"><%= link_to('Society of Software Engineers', root_path, class: 'active')%></p>
  <div class="container_">
    <div class="nav_">
      <div class="dropdown_">
        <p class="dropbtn_">Future Software Engineers</p>
        <div class="dropdown-content_">
          <%=link_to "What is a Software Engineer", future_engineers_info_path %>
          <%=link_to "Day in the Life", future_engineers_life_path %>
          <%=link_to "Career Paths", future_engineers_paths_path %>
        </div>
      </div>

      <div class="dropdown_">
        <div class="dropbtn_">Professional Development</div>
        <div class="dropdown-content_">
          <%=link_to "Exams and Certification", professional_development_exams_path %>
          <%=link_to "Books", professional_development_books_path %>
          <%=link_to "Software Engineer of the Future", professional_development_future_path %>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">Standards and Resources</p>
        <div class="dropdown-content_">
          <%=link_to "Code of Professional Conduct", standards_resources_conduct_path %>
          <%=link_to "SE Coding Standards and Best Practices", standards_resources_standards_path%>
          <%=link_to "Employer Scoring", standards_resources_scoring_path %>
          <%=link_to "Salaries and Demographics", standards_resources_demographics_path %>
          <%=link_to "Podcasts", standards_resources_podcasts_path%>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">About SoSE</p>
        <div class="dropdown-content_">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

    </div>
  </div>

  <div class = "background-block_">
    <div class="container-main_">
      <h1>Exams and Certifications Content</h1>
      <div class = "list">
        <ol type="1">
          <li><b>Microsoft (MCSD)</b></li>
          <p>Microsoft certifications are some of the most highly recognizable in the IT industry and carry a considerable cachet. For developers, Microsoft offers its entry-level Microsoft Technology Associate (MTA) Developer along with several intermediate-level Microsoft Certified Solutions Developer (MCSD) certs.</p>
          <p>The intermediate-level MCSD program offers certifications for Windows Store Apps, Web Applications, SharePoint Applications and Application Lifecycle Management. To earn the MCSD, you must pass three or four multiple-choice exams (depending on the specific cert) at $150 each.</p>
          <li><b>Microsoft (MTA)</b></li>
          <p>MTA certification aims at high school and college students, or anyone who is new to programming and development. The MTA Developer takes many tracks, including Windows development, software development, mobile, gaming and more. You can achieve certification on a single track or several; each requires passing one multiple-choice exam for a $115 fee.</p>
          <li><b>Amazon Web Services (AWS Certified Developer - Associate Level)</b></li>
          <p>Amazon Web Services (AWS) provides scalable cloud computing for creating Web applications. The AWS Certified Developer – Associate Level is for developers who design, build and run applications on the AWS platform. The credential comes with no prerequisites, but you must take a multiple-choice exam on AWS fundamentals, plus designing, developing and deploying cloud-based solutions, security and debugging. The exam contains 40 to 60 questions, takes up to 80 minutes to complete and costs $150.</p>
          <li><b>Cloudera (CCDH)</b></li>
          <p>Cloudera offers Apache Hadoop-based software to help enterprises crunch big data sets. Once you achieve Cloudera Certified Developer for Apache Hadoop (CCDH) certification you can create, maintain and optimize Apache Hadoop development projects. You must take one exam that contains 50 to 55 live questions, takes up to 90 minutes, requires a minimum passing score of 70 percent and costs $295. The exam covers Hadoop infrastructure, data management, job mechanics and querying. No prerequisites here, either.</p>
          <li><b>Oracle (APEX)</b></li>
          <p>Oracle might be best known for its database software, but the company also offers servers, storage systems, cloud solutions and one of the world's most comprehensive certification programs. This includes many different developer credentials – here are a few examples:</p>
          <p>The Oracle Application Express Developer Certified Expert (Oracle APEX) is for developers who administer Application Express Workspaces. They also manage shared components, authorization, authentication and session states within an application, and manage database objects using SQL Workshop. Oracle recommends Oracle Application Express: Developing Web Applications training. The only requirement for the Oracle APEX is successful completion of a multiple-choice exam, which contains 150 to 220 questions and takes up to 3.5 hours to complete. The exam fee is $50.</p>
          <li><b>Oracle (OCP, OCM, OCE)</b></li>
          <p>Oracle offers numerous Oracle Certified Java certifications at the Associate, Professional (OCP), Master (OCM) and Expert (OCE) levels. Its professional-level certifications typically require you to have an OCP Java Programmer or a Sun Certified Java Programmer credential as a prerequisite. Exams are multiple choice and some include scenario-based questions. Passing scores vary by topic and credential.</p>
          <p>The Oracle Certified Professional (OCP) MySQL 5.6 Developer credential identifies developers who write applications for MySQL database servers. This cert has no prerequisites, but Oracle recommends that you take its MySQL for Developers course. The single exam focuses on practitioner-level skills on all aspects of developing MySQL applications; architecture, syntax, design, modification and more. You'll be asked 100 questions, which you must complete within 2.5 hours and achieve a minimum passing score of 64 percent.</p>
          <p>Most Oracle programmer and developer certification exams cost $245.</p>
          <li><b>Puppet Labs</b></li>
          <p>Thousands of organizations like Zynga (Farmville), Cisco and the New York Stock Exchange use Puppet IT automation software to help manage their infrastructures. A Puppet Labs Puppet Developer is proficient in creating Puppet Labs IT automation software extensions in the Ruby scripting language.</p>
          <p>The single multiple-choice exam has 60 questions that cover Puppet facts, functions, types and providers, report processors, faces, testing, integration and MCollective. The $200 exam must be completed in 90 minutes. Although no prerequisites for this cert are stated, Puppet Labs recommends that you prepare by taking the Puppet Fundamentals for System Administrators and Extending Puppet Using Ruby courses.</p>
          <li><b>Red Hat</b></li>
          <p>Red Hat is a well-established provider of open source software solutions, catering to over 90 percent of Fortune 500 companies. The Red Hat Certified JBoss Developer - RHCJD developer certification recognizes your ability to build Java Enterprise Edition (JEE) applications on the JBoss Enterprise Middleware Application Platform or other JEE-compliant platforms. Red Hat also offers Certificates of Expertise in ESB and Camel development.</p>
          <p>You must take a $400 performance-based exam (one four-hour session) on developing enterprise-ready Web projects, which includes contexts (CDI), POJO/JEE components, identity information through APIs, Web/JSF components, Web navigation and more.</p>
          <li><b>Salesforce.com</b></li>
          <p>Salesforce – one of the original providers of enterprise customer relationship management (CRM) software – now focuses on many facets of enterprise cloud computing and applications. The company's entry-level Salesforce.com Certified Developer identifies developers who design and build custom applications and analytics using the Force.com platform.</p>
          <p>To achieve certification, you must pass a 60-question, multiple-choice exam that covers application design, the Force.com platform, data modeling, user interface, logic, data management, reporting and analysis. The $200 exam must be completed within 90 minutes, and requires a minimum passing score of 68 percent. Salesforce recommends that you take the Building Applications with Force.com and Visualforce training course to prep for the exam.</p>
          <p>Next, you can move on to the Salesforce.com Certified Advanced Developer certification, which focuses on skills required to use Apex and Visualforce to build custom applications, create test plans and perform tests, and manage the development lifecycle and environments. The organization's Developer certification is a prerequisite. The Advanced Developer exam, which costs $400, comes in three parts: a multiple-choice test, a programming assignment and an essay exam.</p>
          <li><b>Scrum Alliance</b></li>
          <p>The Scrum Alliance is a member-based organization that promotes the use of Scrum through education, advocacy and networking and collaboration. The entry-level Scrum Alliance Certified Scrum Developer (CSD) certification targets developers who understand Scrum principles and have knowledge of specialized Agile engineering skills.</p>
          <p>To earn a CSD, no exams are required, but you must attend formal training led by a Scrum Alliance REP. This consists of three days of technical skills training, a one day Scrum elective course and a one day introduction to Scrum course. You must also pass an evaluation performed by a REP or trainer. The price of Scrum courses vary from $1,700 for three-day boot camps to $3,250 for five-day courses.</p>
          <li><b>Scrum.org</b></li>
          <p>The Scrum.org Professional Scrum Developer I (PSD I) is a professional-level certification for developers with experience building software using Scrum. This includes development practices, support tools and using Scrum effectively in your specialty, such as testing, coding and designing.</p>
          <p>You must pass a multiple-choice assessment that covers the Scrum framework, theory and principles, analysis, programming and standards. The assessment costs $200, must be completed within 60 minutes and requires a minimum passing score of 85 percent.</p>
          <li><b>Project Management Institute (PMI)</b></li>
          <p>PMI is a nonprofit membership association, perhaps best known for its Project Management Professional (PMP) credential. The organization offers several certifications, including the PMP Agile Certified Practitioner (PMI-ACP). This cert recognizes developers with knowledge of agile project management principles, practices, tools and techniques. You must have the following to qualify for the exam:</p>
          <div class="sub-list">
            <ul>
              <li>2,000 hours working on project teams within the last five years, or an active PMP or PgMP certification</li>
              <li>1,500 hours working with agile methodologies or on an agile project team within the last three years</li>
              <li>21 contact hours in agile practices</li>
            </ul>
          </div>
          <p>The 120 question multiple-choice exam covers agile tools, techniques, knowledge and skills. Exam pricing varies depending on whether you're a PMI member and taking a paper-based or computer-based exam. As an example, the computer-based exam for PMI members costs $435. PMI has a strong relationship with academia, so you'll find that many colleges and universities offering courses on its certifications include the PMI-ACP.</p>
        </ol>
      </div>
    </div>
  </div>
