<div class="header">
  <%= link_to "Home", root_path, class: 'active'%>
</div>

<div class="main_">
  <p class="main-title"><%= link_to('Society of Software Engineers', root_path, class: 'active')%></p>
  <div class="container_">
    <div class="nav_">
      <div class="dropdown_">
        <p class="dropbtn_">Future Software Engineers</p>
        <div class="dropdown-content_">
          <%=link_to "What is a Software Engineer", future_engineers_info_path %>
          <%=link_to "Day in the Life", future_engineers_life_path %>
          <%=link_to "Career Paths", future_engineers_paths_path %>
        </div>
      </div>

      <div class="dropdown_">
        <div class="dropbtn_">Professional Development</div>
        <div class="dropdown-content_">
          <%=link_to "Exams and Certification", professional_development_exams_path %>
          <%=link_to "Books", professional_development_books_path %>
          <%=link_to "Software Engineer of the Future", professional_development_future_path %>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">Standards and Resources</p>
        <div class="dropdown-content_">
          <%=link_to "Code of Professional Conduct", standards_resources_conduct_path %>
          <%=link_to "SE Coding Standards and Best Practices", standards_resources_standards_path%>
          <%=link_to "Employer Scoring", standards_resources_scoring_path %>
          <%=link_to "Salaries and Demographics", standards_resources_demographics_path %>
          <%=link_to "Podcasts", standards_resources_podcasts_path%>
        </div>
      </div>

      <div class="dropdown_">
        <p class="dropbtn_">About SoSE</p>
        <div class="dropdown-content_">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

    </div>
  </div>

  <div class = "background-block_">
    <div class="container-main_">
      <h1>Software Engineer of the Future Content</h1>
      <div class = "information">
        <h2> Major branches and career paths in software engineering include: <h2>
        <p>
          <p class= "titles"> APPLICATIONS DEVELOPMENT</p>
          <ul> <li>Problem solving-based, non-Web-based software development that includes programming languages such as Java and C#. </li> </ul>

          <p class= "titles"> SYSTEMS DEVELOPMENT</p>
          <ul> <li> Designing and coding background software created to support application development; includes program languages like C and C++. </li> </ul>

          <p class= "titles"> WEB DEVELOPMENT</p>
          <ul> <li> Designing software or applications to run in a Web browser and used programming languages such as HTML, JavaScript and PHP. </li> </ul>
EMBEDDED SYSTEMS DEVELOPMENT
Designing computing systems and software to work on non-computing devices, such as automobiles. Uses programming languages such as C and assembly languages.
Software engineering is one of the most in-demand and fastest growing occupational fields in the country. Silicon Valley has become a hotbed of activity, where an explosion of capital-backed technology investments into start-ups has elevated software engineers to rock star status, allowing even entry-level candidates to snag $100,000 per year positions. Consider this employment snapshot for software developers in San Francisco and San Jose, from the Bureau of Labor Statistics. For every 1,000 jobs in the region, software developers account for 82 positions – that’s 8.2 percent of the entire workforce.
There are several factors driving investment into software engineering: the growing complexity of technology, massive venture capital-backed start-ups, new and emerging industries, and the increasing reliance on mobile technology. In fact, according to Robert Half International (a human resources consulting firm) mobile is in fact one of the top three industries in technology. Mobile applications developers and mobile designers are positioned to see a 10.2 percent and 6.8 percent salary increase in 2015. A review of employment data from the BLS shows that software engineering careers are projected to experience a 22 percent increase in employment openings nationally between 2012 and 2022, and related career fields could see growth upwards of 36 percent during that time as well.
NEW CAREERS IN SOFTWARE ENGINEERING
For the foreseeable future, the demand for skilled and qualified software engineers has no end, according to Robert Half. This demand is fostered by a transforming economic landscape, driven by the need for computing technology solutions. With the advent of the Internet of Things, smart cities, green technology and big data, all industries are quickly becoming technology industries.
Mobile has become a $3.3 trillion dollar industry
Security is projected to be a $60 billion dollar industry in 2015
Big Data is just starting to scratch the surface as a $125 billion dollar industry

        </p>
      </div>
    </div>
  </div>
